@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	font-family: "Press Start 2P", Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--spacing-small: 0.5rem;
	--spacing-regular: 1rem;
	--spacing-large: 1.5rem;
	--spacing-xtralarge: 2rem;
	--spacing-xxlarge: 3rem;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}



@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
