@import "../../../../app/index.css";

dialog {
  width: 50%;
}


form {
  &[method="dialog"] {
    &.maintainance {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div.title {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;

        p {
          width: 70%;
          margin-top: var(--spacing-regular);
        }

        img {
          width: 30%;
        }
      }

      menu {
        padding-left: 0;
      }
    }
  }

}
